<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<div class="search">
    <%= form_with url: user_search_path, method: :get, local:true do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
    <% end %>
</div>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>