<% provide(:title, "申請") %>
<body>
  <div class="peper">
    <%= form_with url: pepers_create_path, method: :get, local: true do |f| %>
      <div><%= f.select :kind, {'休暇': '休暇', '育児休業': '育児休業'} %></div>  
      <%= f.hidden_field :id, :value => @user.id %>
      <div><%= f.submit "申請" %></div>
    <% end %>
  </div>
  <div>
</body>
 
<body>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>申請日</th>
          <th>種類</th>
          <th>状態</th>
        <tr>
      </thead>
      <tbody>
        <% if @user.pepers.any? %>
          <ol class="pepers">
            <%= render @pepers %>
          </ol>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @pepers %>
</body>
 
