<h2>検索</h2>


<%= form_with model: @user, local: true do |form| %>
  <%= form.check_box :_welcome %> 
  <%= form.submit %>
<% end %>

<div class="search-form">
  <%= form_with model:@user, url:search_user_path(@user.id), method: :post, local: true do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>