<% provide(:title, "申請管理") %> 
<body>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>申請日</th>
          <th>名前</th>
          <th>種類</th>
          <th>許可</th>
        <tr>
      </thead>
      <tbody>
        <% if @pepers.any? %>
          <ol class="pepers">
            <% @pepers.each do |peper| %>
              <tr>
                <td><%= peper.created_at.strftime('%Y年%m月%d日') %></td>
                <td><%= peper.user.name %></td>
                <td><%= peper.kind %></td>
                <td>
                  <%=link_to '承認', peper_path(peper, status:"承認"), method: :patch %>
                  /
                  <%=link_to '拒否', peper_path(peper, status:"拒否"), method: :patch %>
                </td>
              <tr>
            <% end %>
          </ol>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @pepers %>
</body>
 